<div class="row">
    <div class="col-xs-12">
        <h2 class="col-xs-12">{{title}}</h2>
        <hr>
        <form method="post">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Assigned To</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {{!--list-todo model=model.todos--}}
                    {{#each model.todos}}
                    <tr>
                        <td id="{{id}}">#{{id}} {{yield}}</td>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{assignedto.name}}</td>
                        <td><button {{action "toggle" id title description assignedto.id}} class="btn btn-default btn-sm">Szerkeszt</button></td>
                        <td><button {{action "deleteTodo" id}} class="btn btn-default btn-sm">Töröl</button></td>
                    </tr>
                    {{/each}}
                    {{!--add-todo model=model.people--}}
                    {{#if toggleDisabled}}
                    <tr>
                        <td>&nbsp;<input type="hidden" id="id_edit"></td>
                        <td><input class="form-control" id="title_edit" name="title" type="text" value="{{data.title}}"></td>
                        <td><input class="form-control" id="description_edit" name="description" type="text" value="{{data.dscription}}"></td>
                        <td>
                            <select name="assignedto" id="assignedto_edit" class="form-control">
                            {{#each model.people}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td><button {{action "editTodo"}} class="btn btn-warning">Módosít</button></td>
                        
                    </tr>
                    {{/if}}
                    <tr>
                        <td>&nbsp;</td>
                        <td><input class="form-control" id="title" name="title" type="text" value="{{data.title}}"></td>
                        <td><input class="form-control" id="description" name="description" type="text" value="{{data.dscription}}"></td>
                        <td>
                            <select name="assignedto" id="assignedto" class="form-control">
                            {{#each model.people}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td><button {{action "submit"}} class="btn btn-primary">Hozzáad</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
